
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  overflow: hidden;
}
.barcode-page{
text-align: center;
padding: 100px 200px 20px 200px;
justify-content: center; 
height: 100vh;
}
.logo{
margin-bottom: 30px;
}
.barcode-img{
padding-top: 20px;
}
.bc-img{
padding: 10px 10px;
margin-bottom: 10px;
}
ul{
list-style: none;
}
.text{
font-size: 16px;
text-align: center;
}

.bottom{
vertical-align: bottom;
padding-top: 50px;
}
.text1{
padding-top: 20px;
font-size: 14px;
text-align: center;
}

@media screen and (max-width:  767px){
.barcode-page{
text-align: center;
padding: 30px 5px 5px 5px;
justify-content: center; 
}
.logo{
margin-bottom: 5px;
}
.bc-img{
width: 100%;
margin-bottom: 10px;
}
.bottom{
vertical-align: bottom;
padding-top: 20px;
}
.text1{
padding-top: 10px;
font-size: 12px;
text-align: center;
}
}
